<div class="container" style="margin-top: 250px">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="input-group mb-3">
                <input type="text" id="text-url" name="url" class="form-control" placeholder="Enter URL" aria-describedby="basic-addon2" ngModel>
                <div class="input-group-append">
                <button class="input-group-text btn" id="btn1" >Shorten URL</button>
                </div>
            </div>
            <h2 *ngIf="shortUrl"  style="text-align: center">
              Shortened URL : <a href="{{shortUrl}}">{{shortUrl}}</a>
            </h2>
          </form>
        </div>